

/* @media screen and  (min-width: 576px) {

  .carousel-item{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
  }

} */
.space{
  margin-inline: 25px;
}

@media (max-width: 628px){
  .space{
    margin-inline: 10px;
  }
  
}

